@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: roboto;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15%;
    background-color: #1f2937;
}

.header-left {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 800;
}

.header-right > ul {
    display: flex;
    list-style: none;
    gap: 16px;
    font-size: 18px;
    color: #E5E7EB;
}

.header-right a {
    text-decoration: none;
    color: #E5E7EB
}

.panel-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 15%;
    background-color: #1f2937;
}

.panel-one-text {
    padding: 16px 24px 16px 0px;
    color: #E5E7EB;
    font-size: 18px;
}

.panel-one-text h1 {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
    margin: 0px auto;
}

.panel-one-text p {
    margin-top: 0;
}

.button {
    border: solid 1px #3882F6;
    background-color: #3882F6;
    color: #E5E7EB;
    text-decoration: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    padding: 5px 30px;
}

.img img {
    max-width: 400px;
    max-height: 250px;
    border-radius: 3px;
}

.panel-two {
    padding: 0 15%;
}

.panel-two-text {
    display: flex;
    justify-content: center;
    margin: 24px;
}

.panel-two-text h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}       

.panel-two-container {
    display: flex;
    justify-content: center;
    gap: 48px;
    margin-bottom: 100px;
}

.card {
    text-align: center;
    max-width: 150px;
}

.card img {
    height: 150px;
    width: 150px;
    border: solid 5px #3882F6;
    border-radius: 20px;
}

.card-text {
    color:#4d4d4d;
}

.panel-three {
    background-color: #E5E7EB;
    padding: 100px 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.panel-three p {
    margin: 0;
}

.panel-three-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    margin-bottom: 0;
}

.panel-three-author {
    font-weight: 900;
    font-size: 20px;
    align-self:flex-end;
    padding: 0 36px;
}

.panel-four {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px 5%;
}

.panel-four-blue {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:#3882F6;
    border-radius: 10px;
    width: 60%;
    padding: 48px;
    color:#E5E7EB;
}

.panel-four-button {
    border: solid 2px #E5E7EB;
    background-color: #3882F6;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    padding: 5px 30px;
}

.panel-four a {
    text-decoration: none;
    color: #E5E7EB;
}

.panel-four p {
    margin: 0;
}

.panel-four h3 {
    margin: 0;
}

footer {
    text-align: center;
    padding: 36px;
    background-color: #1f2937;
    color:#E5E7EB;
    font-size: 16px;
}
