@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: roboto;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.top-wrapper {
    background-color: #1f2937;
    padding: 0 15% 0 15%;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;
}

.header-left {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 800;
}

.header-right > ul {
    display: flex;
    list-style: none;
    gap: 16px;
    font-size: 18px;
    color: #E5E7EB;
}

.header-right a {
    text-decoration: none;
    color: #E5E7EB
}

.panel-one {
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px auto;
    margin-bottom: 48px;
}

.p1text {
    padding: 16px 24px 16px 0px;
    color: #E5E7EB;
    font-size: 18px;
}
.p1text h1 {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
    margin: 0px auto;
}

.p1text p {
    margin-top: 0;
}

.button {
    border: solid 1px #3882F6;
    background-color: #3882F6;
    color: #E5E7EB;
    text-decoration: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    padding: 5px 30px;
}

.img img {
    max-width: 400px;
    max-height: 250px;
    border-radius: 3px;
}